* {
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/*--------------------------
      navigation
----------------------------- */
/* .navbar {
  height: 80px;
} */

nav {
  background-color: #e5e5e5;
}

/*--------------------
  banner section
---------------------- */

.btn-light {
  color: #3f87f5;
}

/*  */

/* album */

.mt-100 {
  margin-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}

/* .a,
.b,
.c {
  border: 1px solid red;
} */
.experience-btn {
  background-color: #3f87f5;
}

/*--------------------
      package section
---------------------- */
.active-card {
  background-color: #3f87f5;
}

.card-text {
  color: #6c6c6c;
}

.card-title {
  color: #0c1920;
}

#flexCheckChecked {
  background-color: gray;
}

/* qna section */

/* .qa-container {
  height: 1130px;
} */

.qa-img {
  /* width: 546px;
  height: 350px; */
  /* margin: auto 0; */
}
